@import "main";

table{
	width: 100%;
	text-align: right;
	th{
		color: white;
		background-color: @i-color;
		text-align: center;
	}
	tr:nth-child(even){
		background-color: lighten(@main-color,40%);
	}
	tr:nth-child(odd){
		background-color: lighten(@main-color,20%);
	}
}


.login{
	width: 300px;
	margin: 200px auto 0 auto;
	padding: 3px;
	border: 1px solid darken(@main-color,10%);
	header{
		background-color: @main-color;
		color: white;
		line-height: 30px;
		padding-left: 10px;
	}
	section{
		padding: 0 10px;
		line-height: 40px;
		text-align: center;
		label{
			display: inline-block;
			text-align: right;
			width: 30%;
			padding-right: 10px;
		}
		button{
			width: 100px;
		}
	}
}

.nav{
	line-height: 40px;
	background-color: @shadow-color;
	padding-left: 20px;
	a{
		display: inline-block;
		width: 100px;
		color: white;
		text-align: center;
	}
}

.category{
	padding-left: 10px;
	width: 200px;
	overflow-y: hidden;
	overflow-x: auto;
	float: left;
	header{
		padding: 10px;
	}
	input{
		width: 140px;
		margin-right: 10px;
		&[placeholder]{
			margin-top: 5px;
		}
	}
	i{
		padding: 6px 2px;
		&.icon-plus{
			padding: 6px 12px;
		}
	}
	section{
		line-height: 30px;
	}
	a{
		display: inline-block;
		width: 140px;
		color: darken(@main-color,10%);
		margin-right: 10px;
	}
}

.goods{
	margin-left: 10px;
	float: left;
	width: calc(100vw - 440px);
	td:last-child,td:first-child{
		text-align: center;
	}
	header{
		padding: 10px;
	}
	a{
		display: inline-block;
		width: 100px;
		margin: 5px;
	}
	label{
		width: 100px;
		line-height: 30px;
		display: inline-block;
		padding-right: 10px;
		text-align: right;
		vertical-align: top;
	}
	input{
		width: 200px;
	}
	textarea{
		width: 200px;
		height: 100px;
	}
	.pages{
		text-align: right;
	}
	.img{
		position: relative;
		width: 320px;
		display: inline-block;
		img{
			width: 320px;
			height: 180px;
			&:before{
				position: absolute;
				z-index: 10;
				left: 10px;
				top: 10px;
			}
		}
		i{
			position: absolute;
			right: 5px;
			top: 5px;
		}
	}
	form{
		display: block;
	}
}

.search{
	margin: 10px;
	width: 150px;
	float: left;
	header{
		margin-bottom: 10px;
	}
	label{
		display: block;
	}
	input,select{
		width: 140px;
		float: right;
		margin-bottom: 5px;
		text-align: right;
	}
	select,option{
		direction: rtl;
	}
	a{
		width: 100px;
		clear: both;
		display: block;
		margin: 0 auto;
	}
}

.order{
	float: left;
	width: calc(100vw - 200px);
	td:last-child{
		text-align: center;
	}
}