@import "main";

.login{
	width: 300px;
	margin: 200px auto 0 auto;
	padding: 3px;
	border: 1px solid darken(@main-color,10%);
	header{
		background-color: @main-color;
		color: white;
		line-height: 30px;
		padding-left: 10px;
	}
	section{
		padding: 0 10px;
		line-height: 40px;
		text-align: center;
		label{
			display: inline-block;
			text-align: right;
			width: 30%;
			padding-right: 10px;
		}
		button{
			width: 100px;
		}
	}
}

.nav{
	line-height: 40px;
	background-color: @shadow-color;
	padding-left: 20px;
	a{
		display: inline-block;
		width: 100px;
		color: white;
		text-align: center;
	}
}

.category{
	padding-left: 10px;
	width: 200px;
	overflow-y: hidden;
	overflow-x: auto;
	float: left;
	header{
		padding: 10px;
	}
	input{
		width: 140px;
		margin-right: 10px;
		&[placeholder]{
			margin-top: 5px;
		}
	}
	i{
		padding: 6px 2px;
		&.icon-plus{
			padding: 6px 12px;
		}
	}
	section{
		line-height: 30px;
	}
	a{
		display: inline-block;
		width: 140px;
		color: darken(@main-color,10%);
		margin-right: 10px;
	}
}

.goods{
	margin-left: 10px;
	float: left;
	header{
		padding: 10px;
	}
	th{
		background-color: @i-color;
		color: white;
	}
	a{
		display: inline-block;
		width: 100px;
		margin: 5px;
	}
	label{
		width: 100px;
		line-height: 30px;
		display: inline-block;
		padding-right: 10px;
		text-align: right;
	}
}