@font-face {
    font-family: 'icomoon';
    src:    url('/fonts/icomoon.eot?j0ii3');
    src:    url('/fonts/icomoon.eot?j0ii3#iefix') format('embedded-opentype'),
        url('/fonts/icomoon.ttf?j0ii3') format('truetype'),
        url('/fonts/icomoon.woff?j0ii3') format('woff'),
        url('/fonts/icomoon.svg?j0ii3#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-pencil:before {
    content: "\e905";
}
.icon-file-picture:before {
    content: "\e927";
}
.icon-floppy-disk:before {
    content: "\e962";
}
.icon-eye:before {
    content: "\e9ce";
}
.icon-eye-blocked:before {
    content: "\e9d1";
}
.icon-plus:before {
    content: "\ea0a";
}
.icon-cancel-circle:before {
    content: "\ea0d";
}
.icon-arrow-right:before {
    content: "\ea34";
}
.icon-arrow-left:before {
    content: "\ea38";
}

