@main-color: #ff6600;
@footer-color: #06b9f0;
@bg-color: #ecf0f1;
@shadow-color: #b1b1b1;
@i-color: #6eb82c;

body{
	margin: 0 0 62px 0;
	background-color: @bg-color;
}

*{
	font-size: 16px;
	box-sizing: border-box;
	font-family: "Microsoft YaHei","微软雅黑",sans-serif;
}

i{
	color: @i-color;
	cursor: pointer;
}

a{
	text-decoration: none;
	cursor: pointer;
}

footer{
	text-align: center;
}

.btn{
	border: none;
	cursor: pointer;
	text-align: center;
	background-color: @main-color;
	color: white !important;
	line-height: 30px;
	padding: 0px;
	border-radius: 3px;
	box-shadow: 4px 2px 1px fade(darken(@main-color,40%),50%);
	&.disabled{
		background-color: @shadow-color;
	}
}

hr{
	background-color: darken(@main-color,10%);
}

.ellipsis{
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

ul{
	margin: 0;
	padding: 0;
	list-style: none;
}

.mask{
	position: fixed;
	width: 100vw;
	height: 100vh;
	background-color: fade(@shadow-color,50%);
	top: 0;
	left: 0;
	z-index: 20;
}